---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import Icon from "@material-symbols/svg-100/rounded/speed.svg";

const t = tt.landings.sections.closeToNative.en;
---

<Section heading={{ h: 3 }} t={t} style="compact" icon={Icon}>
  <div></div>
</Section>
