<div class="crosses">
  <div class="cross-tl"></div>
  <div class="cross-tr"></div>
  <div class="cross-bl"></div>
  <div class="cross-br"></div>
</div>

<style>
  @reference "#/styles/global.css";

  .crosses {
    --cross-color: var(--color-accent-300);
    --cross-size: 24px;
    --cross-center-shift: calc(var(--cross-size) / -2);
    --cross-collapse-shift: -0.5px;
  }

  .cross-tl,
  .cross-tr {
    top: var(--cross-center-shift);
  }

  .cross-tr,
  .cross-br {
    right: var(--cross-collapse-shift);
  }

  .cross-bl,
  .cross-br {
    bottom: var(--cross-center-shift);
  }

  .cross-tl,
  .cross-bl {
    left: var(--cross-collapse-shift);
  }

  .cross-tl,
  .cross-tr,
  .cross-bl,
  .cross-br {
    @apply border-l;
    height: var(--cross-size);

    &,
    &:after {
      @apply absolute z-20;
      border-color: var(--cross-color);
    }

    &:after {
      @apply border-t;
      content: "";
      width: var(--cross-size);
      left: var(--cross-center-shift);
      top: calc(-1 * var(--cross-center-shift) + var(--cross-collapse-shift));
    }
  }
</style>
