---
import { tt } from "#/copy";

type Props = HeadingProps;

export interface HeadingProps {
  h: HeadingHProp;
  t: {
    kicker?: string | undefined;
    headline?: string | undefined;
    subheadline?: string | undefined;
  };
  align?: boolean;
  style?: "enlarge" | "compact";
}

export type HeadingHProp = 1 | 2 | 3 | 4;

const {
  h,
  t: { kicker, headline, subheadline },
  align,
  style,
} = Astro.props;

const H = `h${h}`;
---

<div
  class:list={[
    "heading",
    align && "heading-align",
    style === "enlarge" && "heading-enlarge",
    style === "compact" && "heading-compact",
  ]}
>
  {kicker && <p class="kicker">{kicker}</p>}

  {headline && <H set:html={tt.md(headline, true)} />}

  {subheadline && <p class="subheadline">{subheadline}</p>}

  <slot />
</div>
