---
import Crosses from "./Crosses.astro";
import { type Props as ContentProps } from "./SectionContent.astro";
import SectionContent from "./SectionContent.astro";

export interface BaseProps {
  cols?: "1" | "2";
  span?: "1" | "2";
  style?: "header" | "compact";
  align?: boolean;
}

export interface ContentfulProps extends BaseProps, ContentProps {}

export interface BareProps extends BaseProps {}

export type Props = ContentfulProps | BareProps;

const { cols, span, style, align, ...contentProps } = Astro.props;
---

<div class:list={["relative", span === "2" && "col-span-2"]}>
  <div
    class:list={[
      "section",
      style === "header" && "section-header",
      style === "compact" && "section-compact",
      align && "section-align",
      (!cols || cols === "1") && "section-cols-1",
      cols === "2" && "section-cols-2",
    ]}
  >
    {
      "heading" in contentProps && (
        <SectionContent {...contentProps}>
          <slot name="content" />
        </SectionContent>
      )
    }

    <slot />
  </div>

  <Crosses />
</div>
