---
import Heading, { type HeadingProps } from "./Heading.astro";
import Copy from "./Copy.astro";
import Icon, { type IconProp } from "#/components/Icon.astro";

export interface Props {
  t: HeadingProps["t"] & {
    copy?: string | undefined;
    icon?: IconProp;
  };
  icon?: IconProp | undefined;
  heading: SectionContentHeadingProp;
}

export type SectionContentHeadingProp = Omit<HeadingProps, "t">;

const { t, heading, icon: iconProp } = Astro.props;

const icon = iconProp || t.icon;
---

<div class="section-content">
  {icon && <Icon prop={icon} class="icon section-content-icon" />}

  <Heading {...heading} t={t} />

  {t.copy && <Copy t={t.copy} />}

  <slot />
</div>
