---
import Heading, { type Props as HeadingProps } from "./Heading.astro";
import Copy from "./Copy.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import Icon, { type IconProps } from "#/components/Icon.astro";

export interface Props {
  t: HeadingProps["t"] & {
    copy?: string | undefined;
    icon?: string | IconProps | undefined;
  };
  icon?: AstroComponentFactory | undefined;
  heading: Omit<HeadingProps, "t">;
}

const { t, icon, heading } = Astro.props;
---

<div class="section-content">
  {icon && <Icon prop={icon} class="icon text-5xl mb-2" />}

  <Heading {...heading} t={t} />

  {t.copy && <Copy t={t.copy} />}

  <slot />
</div>
