---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import Asciinema from "#/components/blocks/Asciinema.astro";
import Tabs from "../../blocks/Tabs.astro";
import SectionContent from "../../blocks/SectionContent.astro";

const t = tt.landings.sections.multiLevelCache.en;
const tTabs = tt.landings.sections.testRunnerDemos;
---

<Section heading={{ h: 2 }} t={t} cols={2} span={3}>
  <div class="section-points">
    {
      t.points.map((point) => (
        <div>
          <SectionContent heading={{ h: 4 }} t={point} />
        </div>
      ))
    }
  </div>
</Section>
