---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import Asciinema from "#/components/blocks/Asciinema.astro";
import Tabs from "../../blocks/Tabs.astro";
import SectionContent from "../../blocks/SectionContent.astro";

const t = tt.landings.sections.testRunner.en;
const tTabs = tt.landings.sections.testRunnerDemos;
---

<Section heading={{ h: 2 }} t={t} cols={2} span={3} continue>
  <Tabs
    style="code"
    items={tTabs.map(({ label, ...tab }) => ({
      ...tab,
      label: label.en,
    }))}
  >
    <Fragment slot={tTabs[0].id}>
      <Asciinema src="https://asciinema.org/a/569727.cast" />
    </Fragment>

    <Fragment slot={tTabs[1].id}>
      <Asciinema src="https://asciinema.org/a/418574.cast" />
    </Fragment>
  </Tabs>
</Section>

<Section style="compact" span={3}>
  <div class="section-points">
    {
      t.points.map((point) => (
        <div>
          <SectionContent heading={{ h: 4 }} t={point} />
        </div>
      ))
    }
  </div>
</Section>
