---
import LandingLayout from "#/layout/Landing.astro";
import Hero from "./sections/Hero/Hero.astro";
import McpWhy from "./sections/Mcp/McpWhy.astro";
import McpHow from "./sections/Mcp/How/McpHow.astro";
import Sota from "./sections/Why/Sota.astro";
import SectionWrapper from "./blocks/Supersection.astro";
---

<LandingLayout>
  <Hero />

  <SectionWrapper>
    <div class="bento">
      <Sota />
    </div>
  </SectionWrapper>

  <SectionWrapper>
    <McpWhy />
  </SectionWrapper>

  <SectionWrapper>
    <McpHow />
  </SectionWrapper>
</LandingLayout>
