---
import LandingLayout from "#/layout/Landing.astro";
import SectionWrapper from "./blocks/Supersection.astro";
import Clients from "./sections/Dev/Clients.astro";

import Hero from "./sections/Hero/Hero.astro";
import TlDr from "./sections/TlDr.astro";
---

<LandingLayout>
  <Hero />

  <TlDr />

  <SectionWrapper>
    <div class="bento">
      <Clients />
    </div>
  </SectionWrapper>
</LandingLayout>
