---
import { tt } from "#/copy";
import SectionContent from "../../../blocks/SectionContent.astro";

const t = tt.landings.sections.mcpTestAppStep.en;
---

<div>
  <SectionContent heading={{ h: "3" }} t={t} />

  <div></div>
</div>
