# Python
*.pyc
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/dist/
**/log/
**/reports/

# Node
**/dist/
**/node_modules/
**/playwright-report/
**/test-results/

# Coverage
**/htmlcov/
**/coverage/
**/.nyc_output/
**/.coverage
**/coverage.xml
*.lcov

# Environment variables
.env
.envrc

# Cache
**/.alumnium/cache/**/*
**/.alumnium-cache.sqlite*
