# Python
*.pyc
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/log/
**/reports/

# Node
**/node_modules/
**/playwright-report/
**/test-results/
**/.astro/
**/.ts/

# Build Artifacts
**/dist/

# Coverage
**/htmlcov/
**/coverage/
**/.nyc_output/
**/.coverage
**/coverage.xml
*.lcov

# Environment variables
.env
.envrc

# Alumnium
**/.alumnium/

# Temporary files
**/tmp/

# AIs
**/.claude/settings.local.json
