# Python
*.pyc
**/.pytest_cache/
**/__pycache__/
**/.venv/
**/dist/
**/log/
**/reports/

# Node
**/dist/
**/node_modules/
**/playwright-report/
**/test-results/

# Environment variables
.env
.envrc

# Cache
**/.alumnium/cache/**/*
**/.alumnium-cache.sqlite*
