---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import Timeline from "../../blocks/Timeline.astro";
import Heading from "../../blocks/Heading.astro";
import Install from "./Install.astro";
import SetUp from "./SetUp.astro";
import Test from "./Test.astro";
import Run from "./Run.astro";

export const id = "get-started";

const t = tt.landings.sections.how.en;
const tSteps = tt.landings.sections.howSteps;
---

<div class="bento">
  <Section style="compact">
    <Heading h={2} t={t} enlarge align />

    <div class="get-started-timeline">
      <Timeline
        id="how"
        items={[
          {
            id: "heading",
            style: "header",
          },

          ...Object.entries(tSteps).map(([id, step]) => ({
            id,

            heading: { h: 3 },
            t: step.heading.en,
          })),
        ]}
        style="center"
        cols={2}
      >
        <Fragment slot="heading">
          <div class="get-started-for is-left">
            <h3>{t.agents.headline}</h3>
          </div>

          <div class="get-started-for">
            <h3>{t.engineers.headline}</h3>
          </div>
        </Fragment>

        <Fragment slot="install">
          <Install />
        </Fragment>

        <Fragment slot="set-up">
          <SetUp />
        </Fragment>

        <Fragment slot="test">
          <Test />
        </Fragment>

        <Fragment slot="run">
          <Run />
        </Fragment>
      </Timeline>
    </div>
  </Section>
</div>

<style>
  @reference "#/styles/global.css";

  .get-started-timeline {
    @apply pt-[0.5rem];
  }

  .get-started-for {
    &.is-left {
      @apply text-right;
    }

    & > h3 {
      @apply text-accent-400 font-medium text-base relative top-[-2px] leading-none capsize;
    }
  }
</style>
