---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import NaturalLanguageTests from "./NaturalLanguageTests.astro";
import ExpressIntent from "./ExpressIntent.astro";
import TestRunner from "./TestRunner.astro";
import SameTestsForAllPlatforms from "./SameTestsForAllPlatforms.astro";

const t = tt.landings.sections.helpsShip.en;
---

<!-- <div class="supersection-heading">
  <Heading h="2" t={t} enlarge />
</div> -->
<div class="bento bento-col-2">
  <Section
    heading={{ h: "2", align: true, enlarge: true }}
    t={t}
    span="2"
    style="header"
  />

  <NaturalLanguageTests />

  <ExpressIntent />

  <SameTestsForAllPlatforms />

  <TestRunner />
</div>
