---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";

const t = tt.landings.sections.testRunner.en;
---

<Section heading={{ h: "2" }} t={t} cols="2" span="2">
  <div class="h-[20rem] bg-content-dark"></div>
</Section>
