---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import Icon from "@material-symbols/svg-100/rounded/search_insights.svg";

const t = tt.landings.sections.telemetry.en;
---

<Section heading={{ h: "3" }} t={t} style="compact" icon={Icon}>
  <div></div>
</Section>
