---
import { tt } from "#/copy";
import Section from "../blocks/Section.astro";

const t = tt.landings.sections.faq.en;
---

<div class="bento">
  <Section h="2" t={t}>
    <div></div>
  </Section>
</div>
