---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import ActiveCommunity from "./ActiveCommunity.astro";
import ByExperts from "./ByExperts.astro";
import OpenSource from "./OpenSource.astro";
import SupportedBy from "./SupportedBy.astro";

const t = tt.landings.sections.needMore.en;
---

<div class="bento bento-cols-2">
  <Section heading={{ h: 2, align: true }} t={t} span={2} style="header" />

  <OpenSource />

  <ByExperts />

  <ActiveCommunity />

  <SupportedBy />
</div>
