@reference "./global.css";

@layer components {
  .landing {
    --landing-nav-height: 3rem;
    --landing-overlay-bg: color-mix(
      in srgb,
      var(--color-content-dark),
      transparent 80%
    );

    @apply text-ink-dark pattern-canvas-content h-full flex flex-col;

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & .headline,
    & .subheadline {
      @apply font-display text-balance;

      & a {
        @apply text-accent-300;
      }

      & b {
        @apply text-5xl font-medium;
      }

      & em {
        @apply not-italic text-accent-400 font-semibold;
      }

      & strike {
        @apply font-medium text-accent-300;
      }

      & sup {
        @apply text-accent-400 font-light text-[0.9em];
      }
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & .headline {
      @apply text-accent-50;
    }

    & .subheadline {
      @apply text-accent-400 max-w-3xl;
    }

    & .kicker {
      @apply text-accent-500 uppercase font-medium font-mono capsize leading-none mb-1;
    }

    & .heading {
      @apply content-wrapper-md flex flex-col;

      & h1,
      &.heading-enlarge h2 {
        & + .subheadline {
          @apply text-xl;
        }
      }

      & h2,
      &.heading-enlarge h3 {
        & + .subheadline {
          @apply text-lg;
        }
      }

      & h1 {
        @apply text-4xl md:text-5xl font-medium;
      }

      & h2 {
        @apply text-2xl md:text-3xl;
      }

      &.heading-enlarge h2 {
        @apply text-2xl md:text-4xl;
      }

      &.heading-compact h2 {
        @apply text-xl md:text-2xl;
      }

      & h3,
      & h4,
      & h5 {
        & + .subheadline {
          @apply text-ms;
        }
      }

      & h3 {
        @apply text-xl;
      }

      &.heading-enlarge h3 {
        @apply text-2xl md:text-3xl;
      }

      & h4,
      & h5 {
        @apply text-accent-200;
      }

      & h4 {
        @apply text-base;
      }

      & h5 {
        @apply text-base;
      }
    }

    & .heading-align {
      @apply text-center items-center;
    }

    & .copy {
      @apply text-accent-300 flex flex-col gap-2;

      & code {
        @apply bg-accent-950 rounded-sm px-1 text-[0.8em] font-mono text-accent-200;
      }

      & ol,
      & ul {
        @apply flex flex-col gap-1;
      }

      & footer {
        @apply text-accent-500 text-sm mt-4;
      }
    }

    & a {
      color: color-mix(in srgb, var(--color-cyan-300) 50%, currentColor);

      &:hover {
        @apply text-cyan-400;
      }
    }

    & .supersections {
      --section-padding-x: calc(var(--spacing) * 10);
      --section-padding-y: calc(var(--spacing) * 15);
      --edge-padding-multiplier: 3;
      --section-overlay-bg: transparent;

      @apply relative;
    }

    & .supersections.is-shaded,
    & .supersection.is-shaded {
      --section-overlay-bg: var(--landing-overlay-bg);
    }

    & .supersection {
      &.is-shaded {
        --section-overlay-bg: var(--landing-overlay-bg);
      }

      &.is-highlighted {
        @apply bg-accent-800/50;
      }
    }

    & .supersections,
    & .supersection,
    & .supersection-inner {
      &:before,
      &:after {
        @apply block grow;
        content: "";
        background: var(--section-overlay-bg);
      }
    }

    & .supersections,
    & .supersection {
      &:before,
      &:after {
        height: var(--section-padding-y);
      }
    }

    & .supersection-inner {
      @apply flex;

      &:before,
      &:after {
        min-width: var(--section-padding-x);
      }
    }

    & .supersection-content {
      @apply grow flex flex-col gap-12 content-wrapper-lg;
    }

    & .supersection-heading {
      @apply flex flex-col items-center text-center;
    }

    & .section-wrapper {
      @apply px-0 sm:py-5 md:py-10 md:px-10;
    }

    & .section {
      @apply grid relative px-4 md:px-6 lg:px-16 items-start;

      &:not(.section-header) {
        @apply py-8 md:py-10 lg:py-25;
      }

      &.section-header {
        @apply py-6 md:py-6 lg:py-12;
      }

      &.section-compact {
        @apply py-4 md:py-6 lg:py-16;
      }

      &.section-tight {
        @apply py-4 md:py-6 lg:py-12;
      }

      &.section-align {
        @apply justify-center;
      }

      &.section-adjust {
        @apply items-center;
      }

      &.section-cols-2 {
        @apply gap-10 sm:grid-cols-2;
      }
    }

    & .section {
      &:has(> .heading h1),
      &:has(> .section-content > .heading h1),
      &:has(> .heading.heading-enlarge h2),
      &:has(> .section-content > .heading.heading-enlarge h2) {
        @apply gap-10;
      }

      &:has(> .heading h2),
      &:has(> .section-content > .heading h2),
      &:has(> .heading.heading-enlarge h3),
      &:has(> .section-content > .heading.heading-enlarge h3) {
        @apply gap-8;
      }

      &:has(> .heading h3),
      &:has(> .section-content > .heading h3) {
        @apply gap-6;
      }

      &:has(> .heading h4),
      &:has(> .section-content > .heading h4) {
        @apply gap-5;
      }
    }

    & .bento > * {
      &.has-continuation {
        & > .section {
          @apply pb-20;

          &.section-header {
            @apply pb-14;
          }
        }

        & + * > .section {
          @apply pt-20;

          &.section-compact {
            @apply pt-14;
          }
        }
      }
    }

    & .section-content {
      @apply flex flex-col;

      &:has(> .heading h1),
      &:has(> .heading.heading-enlarge h2) {
        @apply gap-6;
      }

      &:has(> .heading h2),
      &:has(> .heading.heading-enlarge h3) {
        @apply gap-4;
      }

      &:has(> .heading h3) {
        @apply gap-1.5;
      }

      &:has(> .heading h4) {
        @apply gap-1;
      }
    }

    & .section,
    & .section-content {
      &:has(> .heading h1) {
        & .section-content-icon {
          @apply text-8xl;
        }

        & .copy {
          @apply gap-3;
        }
      }

      &:has(> .heading.heading-enlarge h2) {
        & .section-content-icon {
          @apply text-8xl;
        }

        & .copy {
          @apply gap-3;
        }
      }

      &:has(> .heading h2),
      &:has(> .heading.heading-enlarge h3) {
        & .section-content-icon {
          @apply text-7xl;
        }

        & .copy {
          @apply gap-2.5;
        }
      }

      &:has(> .heading h3) {
        & .section-content-icon {
          @apply text-6xl;
        }

        & .copy {
          @apply text-accent-300 gap-2;
        }

        & .copy + .extra {
          @apply mt-2;
        }
      }

      &:has(> .heading h4) {
        & .section-content-icon {
          @apply text-5xl mb-1;
        }

        & .copy {
          @apply text-ms text-accent-400 gap-2;
        }

        & .copy + .extra {
          @apply mt-1;
        }
      }
    }

    .heading {
      &:has(> h1) {
        @apply gap-4;
      }

      &.heading-enlarge:has(> h2) {
        @apply gap-2;
      }

      &:has(> h2),
      &.heading-enlarge:has(> h3) {
        @apply gap-1.5;
      }

      &:has(> h3) {
        @apply gap-1;
      }

      &:has(> h4) {
        @apply gap-0.5;
      }
    }

    & .section-points-flex {
      @apply flex;
    }

    & .section-points:not(.section-points-flex) {
      @apply grid;
    }

    & .section-points-cols-2 {
      @apply grid-cols-1 md:grid-cols-2;
    }

    & .section-points-cols-3 {
      @apply grid-cols-1 md:grid-cols-3;
    }

    & .section-points-cols-4 {
      @apply grid-cols-1 md:grid-cols-4;
    }

    & .section-points {
      &:has(.heading h2) {
        @apply gap-x-6;
      }

      &:has(.heading h3) {
        @apply gap-x-12;
      }

      &:has(.heading h4) {
        @apply gap-x-8 gap-y-7;
      }

      & > * {
        @apply basis-full;
      }
    }

    & .bento {
      @apply content-wrapper-lg relative;

      &.bento-cols-2 {
        @apply grid grid-cols-1 md:grid-cols-2;
      }

      &.bento-cols-3 {
        @apply grid grid-cols-1 md:grid-cols-3;
      }

      &.bento-cols-4 {
        @apply grid grid-cols-1 md:grid-cols-4;
      }

      &.bento-cols-5 {
        @apply grid grid-cols-1 md:grid-cols-5;
      }

      &.bento-cols-6 {
        @apply grid grid-cols-1 md:grid-cols-6;
      }

      & > * {
        &:before {
          @apply content-[""] block absolute border border-accent-600 z-10 pointer-events-none;
          top: -0.5px;
          right: -0.5px;
          bottom: -0.5px;
          left: -0.5px;
        }

        &.has-continuation {
          &:before {
            @apply border-b-accent-700;
            border-bottom-style: dashed;
          }
        }

        &.has-continuation + * {
          &:before {
            border-top-style: none;
          }
        }
      }
    }

    & .badge {
      @apply border-[currentColor]/40 border p-0.5 font-medium rounded-sm inline-flex items-center gap-0.5 leading-none capsize text-[0.85em];
    }

    & text-del {
      @apply content-[""] inline-block bg-[currentColor]/70 size-[0.2em] rounded-full shrink-0;
    }
  }
}

.page:has(.landing) {
  & > .header.has-stuck {
    @apply border-accent-600;
  }
}
