---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import McpMultiPlatform from "./McpMultiPlatform.astro";

const tWhy = tt.landings.sections.mcpWhy.en;
const tTokenEfficient = tt.landings.sections.mcpTokenEfficient.en;
const tCheapFast = tt.landings.sections.mcpCheapFast.en;
---

<div class="bento">
  <Section heading={{ h: 2 }} t={tWhy} style="header" />

  <McpMultiPlatform />

  <Section heading={{ h: 3 }} cols={2} t={tTokenEfficient} />

  <Section heading={{ h: 3 }} cols={2} t={tCheapFast} />
</div>
