---
import { tt } from "#/copy";
import type { AstroComponentInstance } from "astro/runtime/server/index.js";
import Tabs from "../landings/blocks/Tabs.astro";
import Code from "./Code.astro";
import type { TtHow } from "#/copy/how";

export interface Props {
  kind: "cli" | "client";
}

// TODO: Detect OS
const os: "windows" | "xnix" = "windows";
const defaultCliTab = `cli-bin-${os}` as const;

const { kind } = Astro.props;

const t = tt.how;

type T = typeof t;

type InstallVariantKey = keyof T extends infer Key
  ? Key extends keyof T
    ? T[Key] extends TtHow.InstallVariant
      ? Key
      : never
    : never
  : never;

type RenderContent = <Id extends InstallVariantKey>(
  id: Id,
) => AstroComponentInstance;
---

<Fragment>
  {
    () => {
      const renderContent: RenderContent = (id) => {
        const tContent = t[id];
        return (
          <>
            <Code code={tContent.install.code} lang={tContent.install.lang} />
            <div class="text-xs text-gray-500 px-4 pb-2">v0.9.1 · 91 MB</div>
          </>
        );
      };

      switch (kind) {
        case "cli":
          return (
            <Tabs
              items={[
                {
                  id: "cli-bin",
                  label: t["cli-bin"].tab,
                  default: defaultCliTab,
                  items: [
                    { id: "cli-bin-xnix", label: t["cli-bin-xnix"].tab },
                    { id: "cli-bin-windows", label: t["cli-bin-windows"].tab },
                  ],
                },

                {
                  id: "cli-npm",
                  label: "npm",
                  items: [
                    { id: "cli-npm-npm", label: "npm" },
                    { id: "cli-npm-pnpm", label: "pnpm" },
                    { id: "cli-npm-yarn", label: "yarn" },
                    { id: "cli-npm-bun", label: "bun" },
                  ],
                },

                {
                  id: "cli-pip",
                  label: "Pip",
                  items: [
                    { id: "cli-pip-pip", label: "pip" },
                    { id: "cli-pip-uv", label: "uv" },
                  ],
                },
              ]}
              active={defaultCliTab}
              style="code"
            >
              <Fragment slot="cli-bin-xnix">
                {renderContent("cli-bin-xnix")}
              </Fragment>

              <Fragment slot="cli-bin-windows">
                {renderContent("cli-bin-windows")}
              </Fragment>
            </Tabs>
          );

        case "client":
          return (
            <Tabs
              items={[
                {
                  id: "client-npm",
                  label: "TypeScript",
                  items: [
                    { id: "client-npm-npm", label: "npm" },
                    { id: "client-npm-pnpm", label: "pnpm" },
                    { id: "client-npm-yarn", label: "yarn" },
                    { id: "client-npm-bun", label: "bun" },
                  ],
                },

                {
                  id: "client-pip",
                  label: "Python",
                  items: [
                    { id: "client-pip-pip", label: "pip" },
                    { id: "client-pip-uv", label: "uv" },
                  ],
                },

                {
                  id: "client-java",
                  label: "Java",
                },
              ]}
              active="client-npm-npm"
              style="code"
            >
              {/* <Fragment slot="client-npm-npm">
                {renderContent("client-npm-npm")}
              </Fragment>

              <Fragment slot="client-npm-pnpm">
                {renderContent("client-npm-pnpm")}
              </Fragment>

              <Fragment slot="client-npm-yarn">
                {renderContent("client-npm-yarn")}
              </Fragment>

              <Fragment slot="client-npm-bun">
                {renderContent("client-npm-bun")}
              </Fragment> */}
            </Tabs>
          );

        default:
          kind satisfies never;
      }
    }
  }
</Fragment>

<style>
  @reference "#/styles/global.css";
</style>
