---
import { tt } from "#/copy";

const ttBanners = tt.landings.banners.sota;
const headline = ttBanners.headline.en;
---

<a
  class="relative rounded-full inline-flex items-center gap-2 px-3 py-2 no-underline font-mono text-xs uppercase bg-accent-800"
  href={ttBanners.href}
>
  <span class="badge text-lime-400">New</span>
  <span>{headline}</span>
</a>
