---
import { tt } from "#/copy";
import Logotype from "#/assets/logotype.svg";
import HeroBanner from "./HeroBanner.astro";
import DecorationAtom from "../../blocks/DecorationAtom.astro";
import Heading from "../../blocks/Heading.astro";
import HeroIntegratesWithYourStack from "./HeroIntegratesWithYourStack.astro";
import HeroDemo from "./HeroDemo.astro";
import HeroLinks from "./HeroLinks.astro";

const t = tt.landings.sections.hero.en;
---

<div
  class="content-inner hero relative flex flex-col items-center gap-16 pb-32"
>
  <HeroBanner />

  <div class="flex flex-col items-center gap-10">
    <div class="flex flex-col items-center gap-6">
      <Logotype class="h-10" />

      <Heading h={1} t={t} align />

      <HeroIntegratesWithYourStack />
    </div>

    <div class="flex flex-col gap-6 items-center">
      <HeroDemo>
        <DecorationAtom />
      </HeroDemo>

      <HeroLinks />
    </div>

    <a
      href="#how-install"
      class="bg-accent-800 rounded-md px-5 py-2 text-white font-medium text-sm no-underline"
    >
      {t.ctaGetStarted}
    </a>
  </div>
</div>

<style>
  @reference "#/styles/global.css";

  .hero :global(.decoration-atom) {
    @apply absolute;
    left: calc(50% - var(--atom-size) / 2);
    top: calc(50% - var(--atom-size) / 2);
  }
</style>
