---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";

const t = tt.landings.sections.devClients.en;
---

<Section heading={{ h: 2 }} t={t} cols={2}>
  <div></div>
</Section>
