name: CI
on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*.*.*

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  ALUMNIUM_DEBUG: 1
  ALUMNIUM_MODEL: azure_openai
  AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
  AZURE_OPENAI_API_VERSION: ${{ secrets.AZURE_OPENAI_API_VERSION }}
  AZURE_OPENAI_ENDPOINT: ${{ secrets.AZURE_OPENAI_ENDPOINT }}
  DISPLAY: :99

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: abatilo/actions-poetry@v2
      - uses: actions/cache@v4
        with:
          path: ./.venv
          key: venv-${{ hashFiles('poetry.lock') }}
      - run: Xvfb ${{ env.DISPLAY }} &
      - run: poetry install
      - run: poetry run behave --format html-pretty --outfile reports/behave.html --format pretty
      - run: poetry run pytest --html reports/pytest.html
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: reports/

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    environment: release
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      attestations: write
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: abatilo/actions-poetry@v2
      - uses: actions/cache@v4
        with:
          path: ./.venv
          key: venv-${{ hashFiles('poetry.lock') }}
      - run: poetry install
      - run: poetry build
      - uses: actions/attest-build-provenance@v1
        with:
          subject-path: dist/*
      - uses: pypa/gh-action-pypi-publish@release/v1
      - run: gh release create ${{ github.ref_name }} --generate-notes dist/*
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
