name: Release
on:
  workflow_dispatch:
    inputs:
      docker:
        description: Release Docker image
        type: boolean
        default: true
      python:
        description: Release Python package
        type: boolean
        default: true
      typescript:
        description: Release TypeScript package
        type: boolean
        default: true

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  python:
    name: Python
    if: inputs.python
    runs-on: ubuntu-latest
    environment: release
    defaults:
      run:
        working-directory: packages/python
    permissions:
      attestations: write
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: .tool-versions
      - run: pip install poetry=="$(grep poetry .tool-versions | cut -d" " -f2)"
        working-directory: .
      - uses: actions/cache@v4
        with:
          path: packages/python/.venv
          key: venv-${{ hashFiles('packages/python/poetry.lock') }}
      - run: poetry install
      - run: poetry build
      - run: echo "version=$(poetry version --short)" >> "$GITHUB_OUTPUT"
        id: version
      - uses: actions/attest-build-provenance@v3
        with:
          subject-path: packages/python/dist/*
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: packages/python/dist/
      - run: gh release create ${{ steps.version.outputs.version }} --generate-notes dist/*
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: actions/upload-artifact@v4
        with:
          name: python-dist
          path: packages/python/dist/
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true

  docker:
    name: Docker
    if: inputs.docker
    runs-on: ubuntu-latest
    environment: release
    permissions:
      attestations: write
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: .tool-versions
      - run: pip install poetry=="$(grep poetry .tool-versions | cut -d" " -f2)"
        working-directory: packages/python/
      - run: echo "version=$(poetry version --short)" >> "$GITHUB_OUTPUT"
        working-directory: packages/python/
        id: version
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v4
      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: alumnium/alumnium
          tags: |
            type=ref,event=tag
            type=semver,pattern={{major}}.{{minor}},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{version}},value=${{ steps.version.outputs.version }}
      - uses: docker/build-push-action@v6
        id: push
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: .
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          provenance: mode=max
          push: true
          sbom: true
          tags: ${{ steps.meta.outputs.tags }}
      - uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/alumnium/alumnium
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true

  typescript:
    name: TypeScript
    if: inputs.typescript
    runs-on: ubuntu-latest
    environment: release
    defaults:
      run:
        working-directory: packages/typescript
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          cache: npm
          cache-dependency-path: packages/typescript/package-lock.json
          node-version-file: .tool-versions
          registry-url: https://registry.npmjs.org
      - run: npm install -g npm@latest # 11.5.1+ required for Trusted Publishing
      - run: npm install
      - run: npm publish
      - uses: actions/upload-artifact@v4
        with:
          name: typescript-dist
          path: packages/typescript/dist/
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
